body {
    background-color: rgb(253, 251, 251);
    margin: 0;
    border: 5px solid #52b69a;
}

#cabecalho {
    top: 0;
    background-color: #52b69a;
    width: 100%;
    height: 100px;
    position: fixed;
}

#titulo {
    color: aliceblue;
    text-align: center;
}

#minha_foto {
    width: 200px;
    background-color: rgba(228, 222, 222, 0.226);
    /*! margin-top: 80px; */
    margin: 34px;
    border-radius: 5px;
}

#licoes_aprendidas li {
    width: 60%;
    line-height: 30px;
    font-family: sans-serif;

}

#licoes_a_aprender {
    list-style: circle;
    position: absolute;
    left: 280px;
    top: 350px;
    line-height: 30px;
    font-family: sans-serif;
    z-index: -1;


}

#rodape {
    background-color: #52b69a;
    width: 100%;
    height: 80px;
}

#link {
    color: rgb(73, 119, 73);
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

#nav li {
    display: inline;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    font-size: 18px;

}

a {
    text-decoration: none;

}

main {
    margin: 8px;
}

section {
    margin: 20px;

    width: 60%;
}

table {
    padding: 5px;
}

.lado-esquerdo p {
    width: 60%;


}

.lado-direito  {
    width: 30%;
    float: right;

    
}

 div{

    position: absolute;
    top:820px;
   /*  border: 3px solid #36413e; */
   margin-right: 5px;
    
    
    
} 